OKEN=Le Token de vôtre BOT
CLIENT_ID=L'ID de vôtre BOT
GUILD_ID=L'id de vôtre serveur Discord
DATABASE_URL=Vôtre URI MongoDB
DATABASE_NAME=mcstatusbot # Le nom de la database que vous souhaitez mettre (changez si vous le souhaitez sinon laissez mcstatusbot)